# Archivos generados por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Archivos de autoguardado
*.autosave

# Archivos de IDE
.vs/
.vscode/
*.sln
*.csproj
*.userprefs

# Archivos grandes/binaros
*.unitypackage
*.a
*.so
*.dll
*.zip

# Archivos de usuario
*.prefab
*.mat
*.asset