*.cs linguist-vendored
*.shader linguist-vendored
*.cginc linguist-vendored
*.compute linguist-vendored
*.hlsl linguist-vendored
*.glsl linguist-vendored
*.json linguist-vendored
*.xml linguist-vendored
*.js linguist-vendored



*.mat linguist-vendored
*.nb linguist-vendored
*.wl linguist-vendored
*.m linguist-vendored
*.json linguist-vendored
*.xml linguist-vendored


*.unity linguist-vendored
*.prefab linguist-vendored
*.asset linguist-vendored
*.controller linguist-vendored
